<div class="profile__container">
    <div class="profile__title">
        <app-title title="Profile"></app-title>
    </div>
    <div class="profile__body">
        <div class="profile__form">
            <div class="div__form">
                <div class="div__image">
                    <div class="user__image">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSwGsNv23K5shKblMsKePA8o6M2kqBH39PZqA&s" alt="">
                    </div>
                    <button class="btn btn-primary">Alterar foto</button>
                </div>
                <div class="div__inputs">
                    <div class="form__line-one">
                        <div class="div__username">
                            <label for="">Username:</label>
                            <input type="text">
                        </div>
                        <div class="div__password">
                            <label for="">Senha:</label>
                            <div class="input__password">
                                <input type="text" disabled value="••••••••••">
                                <button><a href="#">Alterar senha</a></button>
                            </div>
                        </div>
                    </div>
                    <div class="form__line-two">
                        <div class="div__full-name">
                            <label for="">Nome completo:</label>
                            <input type="text">
                        </div>
                    </div>
                    <div class="form__line-three">
                        <div class="div__email">
                            <label for="">E-mail:</label>
                            <input type="text">
                        </div>
                        <div class="div__cpf">
                            <label for="">CPF:</label>
                            <input type="text">
                        </div>
                    </div>
                    <div class="form__line-four">
                        <div class="div__telephone">
                            <label for="">Telefone:</label>
                            <input type="text">
                        </div>
                        <div class="div__birth-date">
                            <label for="">Data de nascimento:</label>
                            <input type="text">
                        </div>
                    </div>
                </div>
            </div>
            <div class="form__buttons">
                <button class="btn btn-primary">Atualizar</button>
                <button class="btn btn-secondary">Cancelar</button>
            </div>
        </div>
    </div>
</div>
