<div class="profile__container" *ngIf="account">
    <div class="profile__title">
        <app-title title="Profile"></app-title>
    </div>
    <form #form="ngForm" (submit)="onSubmit()">
        <div class="profile__body">
            <div class="profile__form">
                <div class="div__form">
                    <div class="div__image">
                        <div class="user__image">
                            <img [src]="account.accountImg" alt="user_image" name="accountImg">
                        </div>
                        <button class="btn btn-primary" (click)="fileInput.click()" type="button">Alterar foto</button>
                        <input type="file" #fileInput (change)="onFileSelected($event)" style="display: none;" />
                    </div>
                    <div class="div__inputs">
                        <div class="form__line-one">
                            <div class="div__username" *ngIf="!firstAccess">
                                <label for="">Username:</label>
                                <input type="text" [(ngModel)]="account.userName" name="username" disabled="">
                            </div>
                            <div class="div__username" *ngIf="firstAccess">
                                <label for="">Username:</label>
                                <input type="text" [(ngModel)]="account.userName" name="username">
                            </div>
                            <div class="div__password" *ngIf="!firstAccess">
                                <label for="">Senha:</label>
                                <div class="input__password">
                                    <input type="text" disabled="" value="••••••••••">
                                    <button (click)="openModal()" type="button">Alterar senha</button>
                                </div>
                            </div>
                        </div>
                        <div class="form__line-two">
                            <div class="div__full-name">
                                <label for="">Nome completo:</label>
                                <input type="text" [(ngModel)]="account.name" name="name" placeholder="ex: José Anastácio da Silva">
                            </div>
                        </div>
                        <div class="form__line-three">
                            <div class="div__email">
                                <label for="">E-mail:</label>
                                <input type="text" [(ngModel)]="userEmail" name="email" disabled="">
                            </div>
                            <div class="div__cpf">
                                <label for="">CPF:</label>
                                <input type="text" [(ngModel)]="account.cpf" name="cpf" placeholder="ex: 123.456.789-10">
                            </div>
                        </div>
                        <div class="form__line-four">
                            <div class="div__telephone">
                                <label for="">Telefone:</label>
                                <input type="text" [(ngModel)]="account.telephone" name="telephone" placeholder="ex: (81)99999-9999">
                            </div>
                            <div class="div__birth-date">
                                <label for="">Data de nascimento:</label>
                                <input type="date" [(ngModel)]="account.birthDate" name="birthDate">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form__buttons" *ngIf="!firstAccess">
                    <button class="btn btn-primary" type="submit">Salvar</button>
                    <button class="btn btn-secondary" type="button" (click)="cancelAlteration()">Cancelar</button>
                </div>
                <div class="form__buttons" *ngIf="firstAccess">
                    <button class="btn btn-primary" type="submit">Salvar</button>
                </div>
            </div>
        </div>
    </form>
    <div class="modal" *ngIf="isModalVisible">
        <div class="modal__content">
            <h3>Alterar senha</h3>
            <div class="modal__line-one">
                <div class="new__password">
                    <label for="">Senha atual: *</label>
                    <input type="password">
                </div>
                <div class="new__password">
                    <label for="">Nova senha: *</label>
                    <input type="password">
                </div>
                <div class="new__password">
                    <label for="">Confirmar nova senha: *</label>
                    <input type="password">
                </div>
            </div>
            <div class="modal__line-two">
                <button class="btn btn-primary">Alterar</button>
                <button class="btn btn-secondary close" (click)="closeModal()">Cancelar</button>
            </div>
        </div>
    </div>
</div>
