<div class="spent__container">
    <div class="spent__title">
        <app-title title="Tipos de Gasto"></app-title>
    </div>
    <div class="spent__body">
        <div class="cards">
            <div class="div__add-card">
                <div class="card__shadow"></div>
                <div class="div__card" (click)="openModal()">
                    <div class="line-one__card">
                        <img src="../../../assets/images/card_approach.png" alt="card_approach">
                    </div>
                    <div class="line-two__card">
                        <img src="../../../assets/images/chip_card.png" alt="chip_card">
                        <span>Adicionar Novo</span>
                    </div>
                    <div class="line-three__card">
                        <span>0000 0000 0000 0000</span>
                        <img src="../../../assets/images/card_detail.png" alt="">
                    </div>
                </div>
            </div>
            <app-spent-card *ngFor="let spent of spentTypes" [spentType]="spent"></app-spent-card>
        </div>
    </div>
    <div class="modal" *ngIf="isModalVisible">
        <div class="modal__content" [style.backgroundColor]="selectedColor">
            <div class="line-one__modal">
                <h3>Preencha o tipo de gasto</h3>
                <img src="../../../assets/images/crisp_card_approach.png" alt="card_approach">
            </div>
            <div class="line-two__modal">
                <img src="../../../assets/images/crisp_chip_card.png" alt="chip_card">
                <div class="div__description">
                    <label for="type-description">Descrição: *</label>
                    <input type="text" name="type-description" placeholder="ex: NuBank">
                </div>
                <div class="div__color">
                    <label>Cor: *</label>
                    <input type="color" id="colorPicker" [value]="selectedColor" (input)="onColorChange($event)">
                </div>
            </div>
            <div class="line-three__modal">
                <span>1234 5678 1234 5678</span>
                <div class="div__down">
                    <button class="btn btn-primary">Criar</button>
                    <button class="btn btn-secondary close" (click)="closeModal()">Cancelar</button>
                    <img src="../../../assets/images/crisp_card_detail.png" alt="card_detail">
                </div>
            </div>
        </div>
    </div>
</div>
