<div class="tg__container">
    <div class="tg__up">
        <div class="tg__logo">
            <img src="../../../assets/images/tg_logo.png" alt="Logo">
        </div>
    </div>
    <div class="tg__down">
        <div class="card">
            <div class="card-title">
                <h2>Login</h2>
            </div>
            <div class="card-body">
                <div class="tg__fields">
                    <label>Usuário:</label>
                    <input type="text" class="form-control" />
                    <label>Senha:</label>
                    <input type="password" class="form-control" />
                </div>
                <div class="tg__button-login">
                    <button class="btn btn-warning" routerLink="/home/graphic">Acessar</button>
                </div>
            </div>
            <div class="card-footer">
                <a href="#">Esqueceu a senha?</a>
                <a routerLink="/register">Cadastre-se aqui!</a>
            </div>
        </div>
    </div>
</div>
