<div class="tg__container">
    <div class="tg__up">
        <div class="tg__logo">
            <img src="../../../assets/images/tg_logo.png" alt="Logo">
        </div>
    </div>
    <div class="tg__down">
        <div class="card">
            <div class="card-title">
                <h2>Login</h2>
            </div>
            <form #loginForm="ngForm" (submit)="onSubmit()" action="">
                <div class="card-body">
                    <div class="tg__fields">
                        <label>Email:</label>
                        <input type="text" class="form-control" name="email" [(ngModel)]="user.email" />
                        <label>Senha:</label>
                        <input type="password" class="form-control" name="password" [(ngModel)]="user.password" />
                    </div>
                    <div class="tg__button-login">
                        <button type="submit" class="btn btn-warning">Acessar</button>
                    </div>
                </div>
            </form>
            <div class="card-footer">
                <a href="#">Esqueceu a senha?</a>
                <a routerLink="/register">Cadastre-se aqui!</a>
            </div>
        </div>
    </div>
</div>
