.tg__container {
    font-family: outfit;
    height: 100vh;
    display: flex;
    justify-content: space-around;
}

.tg__div-left {
    width: 45vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tg__images {
    background-color: #70BB77;
    width: 80%;
    height: 90%;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tg__images > img {
    width: 80%;
    height: 85%;
    min-height: 450px;
}

.tg__div-right {
    width: 50vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.tg__logo {
    display: flex;
    justify-content: center;
}

.tg__logo > img {
    padding: 5% 0px 0px;
    width: 85%;
}

.tg__register {
    width: 450px;
    height: 450px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card{
    background-color: #E2E4E5;
    width: 90%;
    height: 100%;
    min-width: 235px;
    max-width: 550px;
    max-height: 500px;
    border-radius: 20px;
    border: 0;
}

.card-title {
    padding-top: 20px;
    border: 0;
}

.card-title > h2 {
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: 30px;
    color: #3C9A46;
}

.card-body {
    color: #3C9A46;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 0px 30px 15px;
}

.tg__fields {
    width: 75%;
}

.tg__fields > label {
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 5px;
}

.tg__fields > input {
    margin-bottom: 15px;
    border: 0;
    box-shadow: inset -5px 33px 17px -40px rgba(0,0,0,1);
}

.tg__buttons {
    width: 75%;
    display: flex;
    justify-content: space-around;
    padding: 15px 0px 15px;
}

.tg__buttons > button {
    width: 45%;
    color: white;
}
