<div class="tg__container">
    <div class="tg__div-left">
        <div class="tg__images">
            <img src="../../../assets/images/site_images.png" alt="site_images">
        </div>
    </div>
    <div class="tg__div-right">
        <div class="tg__logo">
            <img src="../../../assets/images/tg_logo.png" alt="Logo">
        </div>
        <div class="tg__register">
            <div class="card">
                <div class="card-title">
                    <h2>Cadastre-se</h2>
                </div>
                <div class="card-body">
                    <div class="tg__fields">
                        <label>Usuário: *</label>
                        <input type="text" class="form-control" [(ngModel)]="user.username" />
                        <label>Senha: *</label>
                        <input type="password" class="form-control" [(ngModel)]="user.password" />
                        <label>E-mail: *</label>
                        <input type="text" class="form-control" [(ngModel)]="user.email" />
                    </div>
                    <div class="tg__buttons">
                        <button class="btn btn-primary" (click)="signUp()" >Registrar</button>
                        <button class="btn btn-warning" routerLink="/login">Voltar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
