<div class="graphic__container">
    <div class="graphic__title">
        <app-title title="Gráfico de gasto por mês"></app-title>
    </div>
    <div class="graphic__body">
        <div class="graphic__years">
            <div class="group-buttons">
                <label class="radio-button">
                    <input type="radio" name="option" value="1">
                    <span>2022</span>
                </label>

                <label class="radio-button">
                    <input type="radio" name="option" value="2">
                    <span>2023</span>
                </label>

                <label class="radio-button">
                    <input type="radio" name="option" value="3">
                    <span>2024</span>
                </label>
            </div>
        </div>
        <div class="graphic__div">
            <div class="bar-chart__div">
                <app-bar-chart></app-bar-chart>
            </div>
            <div class="graphic__index">
                <div class="index__div">
                    <img src="../../../assets/images/smaller_index.png" alt="smaller_index">
                    <p>Menor Gasto</p>
                </div>
                <div class="index__div">
                    <img src="../../../assets/images/higher_index.png" alt="higher_index">
                    <p>Maior Gasto</p>
                </div>
                <div class="index__div">
                    <img src="../../../assets/images/others_index.png" alt="others_index">
                    <p>Outros</p>
                </div>
            </div>
        </div>
    </div>
</div>
