<div class="graphic__container">
    <div class="graphic__title">
        <app-title title="Gráfico de gasto por mês"></app-title>
    </div>
    <div class="graphic__body" *ngIf="isEmpty">
        <div class="image__div">
            <img src="../../../assets/images/no_graph.png" alt="no_graph">
            <span>Você ainda não possui faturas para exibir no gráfico</span>
        </div>
    </div>
    <div class="graphic__body" *ngIf="!isEmpty">
        <div class="graphic__years">
            <div class="group-buttons">
                <label
                    class="radio-button"
                    *ngFor="let year of uniqueYears">
                    <input
                        type="radio"
                        name="option"
                        [checked]="year === selectedYear"
                        (click)="onYearSelected(year)">
                    <span>{{ year }}</span>
                </label>
            </div>
        </div>
        <div class="graphic__div">
            <div class="bar-chart__div">
                <canvas baseChart
                    [labels]="barChartLabels"
                    [options]="barChartOptions"
                    [datasets]="barChartData">
                </canvas>
            </div>
            <div class="graphic__index">
                <div class="index__div">
                    <img src="../../../assets/images/smaller_index.png" alt="smaller_index">
                    <p>Menor Gasto</p>
                </div>
                <div class="index__div">
                    <img src="../../../assets/images/higher_index.png" alt="higher_index">
                    <p>Maior Gasto</p>
                </div>
                <div class="index__div">
                    <img src="../../../assets/images/others_index.png" alt="others_index">
                    <p>Outros</p>
                </div>
            </div>
        </div>
    </div>
</div>
