<div class="invoice__container">
    <div class="invoice__title">
        <app-title title="Fatura"></app-title>
    </div>
    <div class="invoice__body">
        <div class="line__one">
            <div class="group-buttons">
                <label class="radio-button">
                    <input type="radio" name="option" value="1">
                    <span>Janeiro</span>
                </label>
                <label class="radio-button">
                    <input type="radio" name="option" value="2">
                    <span>Fevereiro</span>
                </label>
                <label class="radio-button">
                    <input type="radio" name="option" value="3">
                    <span>Março</span>
                </label>
                <button (click)="openInvoiceModal()"><i class="fas fa-plus"></i></button>
            </div>
        </div>
        <div class="line__two">
            <div class="total-invoice__table">
                <div class="change__width" id="center__div">
                    <span>Fatural Total</span>
                </div>
                <table>
                    <thead>
                        <tr>
                            <th>Tipo do Gasto</th>
                            <th>Valor por Gasto</th>
                            <th>Pago</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Santander</td>
                            <td>R$ 150,00</td>
                            <td>Não</td>
                        </tr>
                        <tr>
                            <td>Inter</td>
                            <td>R$ 150,00</td>
                            <td>Não</td>
                        </tr>
                        <tr>
                            <td>Bradesco</td>
                            <td>R$ 150,00</td>
                            <td>Não</td>
                        </tr>
                        <tr>
                            <td class="change-td__color">Gasto total</td>
                            <td>R$ 450,00</td>
                            <td>Não</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="line__three">
            <div class="monthly-expense__table">
                <div class="change__width">
                    <button class="button-plus__scale" (click)="openExpensesModal()"><i class="fas fa-plus"></i></button>
                    <span>Gastos Mensais</span>
                    <button class="button-down__scale" (click)="toggleExpenseTable()" *ngIf="isExpenseCollapsed"><i class="fas fa-caret-down caret-down__size"></i></button>
                    <button class="button-down__scale" (click)="toggleExpenseTable()" *ngIf="!isExpenseCollapsed"><i class="fas fa-caret-up caret-down__size"></i></button>
                </div>
                <table>
                    <thead *ngIf="!isExpenseCollapsed">
                        <tr>
                            <th>Descrição</th>
                            <th>Valor</th>
                            <th>Parcela</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngIf="!isExpenseCollapsed">
                            <td>Televisão</td>
                            <td>R$ 218,00</td>
                            <td>1/10</td>
                        </tr>
                        <tr *ngIf="!isExpenseCollapsed">
                            <td>Sofá</td>
                            <td>R$ 300,00</td>
                            <td>1/5</td>
                        </tr>
                        <tr *ngIf="!isExpenseCollapsed">
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr *ngIf="!isExpenseCollapsed">
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr *ngIf="!isExpenseCollapsed">
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr *ngIf="!isExpenseCollapsed">
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr *ngIf="!isExpenseCollapsed">
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr *ngIf="!isExpenseCollapsed">
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr *ngIf="!isExpenseCollapsed">
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td class="change-td__color">Total</td>
                            <td>R$ 518,00</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="monthly-contracts__table">
                <div class="change__width">
                    <button class="button-plus__scale" (click)="openContractsModal()"><i class="fas fa-plus"></i></button>
                    <span>Contratos</span>
                    <button class="button-down__scale" (click)="toggleContractsTable()" *ngIf="isContractsCollapsed"><i class="fas fa-caret-down caret-down__size"></i></button>
                    <button class="button-down__scale" (click)="toggleContractsTable()" *ngIf="!isContractsCollapsed"><i class="fas fa-caret-up caret-down__size"></i></button>
                </div>
                <table>
                    <thead *ngIf="!isContractsCollapsed">
                        <tr>
                            <th>Descrição</th>
                            <th>Valor</th>
                            <th>Fim Contrato</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngIf="!isContractsCollapsed">
                            <td>Spotfy</td>
                            <td>R$ 21,90</td>
                            <td>20/10/2023</td>
                        </tr>
                        <tr *ngIf="!isContractsCollapsed">
                            <td>Amazon Prime</td>
                            <td>R$ 19,90</td>
                            <td>20/10/2033</td>
                        </tr>
                        <tr *ngIf="!isContractsCollapsed">
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td class="change-td__color">Total</td>
                            <td>R$ 41,80</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="add-invoice__modal" *ngIf="isModalInvoiceVisible">
            <div class="invoice-modal__content">
                <h3>Informe o mês e ano da fatura</h3>
                <div class="invoice-modal__line-one">
                    <div class="invoice-data__input">
                        <label for="">Mês: *</label>
                        <input type="text" name="month">
                        <I>ex: (01, 02, 03,...)</I>
                    </div>
                    <p>/</p>
                    <div class="invoice-data__input">
                        <label for="">Ano: *</label>
                        <input type="text" name="year">
                        <I>ex: (2021, 2022,...)</I>
                    </div>
                </div>
                <div class="invoice-modal__line-two">
                    <button class="btn btn-primary">Criar</button>
                    <button class="btn btn-secondary close" (click)="closeInvoiceModal()">Cancelar</button>
                </div>
            </div>
        </div>
        <div class="add-expenses__modal" *ngIf="isModalExpensesVisible">
            <div class="expenses-modal__content">
                <h3>Adicione um novo Item</h3>
                <div class="expenses-modal__line-one">
                    <div class="expenses-data__input">
                        <label for="">Mês: *</label>
                        <input type="text" name="month">
                        <I>ex: (01, 02, 03,...)</I>
                    </div>
                    <p>/</p>
                    <div class="expenses-data__input">
                        <label for="">Ano: *</label>
                        <input type="text" name="year">
                        <I>ex: (2021, 2022,...)</I>
                    </div>
                </div>
                <div class="expenses-modal__line-two">
                    <button class="btn btn-primary">Criar</button>
                    <button class="btn btn-secondary close" (click)="closeExpensesModal()">Cancelar</button>
                </div>
            </div>
        </div>
        <div class="add-contracts__modal" *ngIf="isModalContractsVisible">
            <div class="contracts-modal__content">
                <h3>Adicione um novo Contrato</h3>
                <div class="contracts-modal__line-one">
                    <div class="contracts-data__input">
                        <label for="">Mês: *</label>
                        <input type="text" name="month">
                        <I>ex: (01, 02, 03,...)</I>
                    </div>
                    <p>/</p>
                    <div class="contracts-data__input">
                        <label for="">Ano: *</label>
                        <input type="text" name="year">
                        <I>ex: (2021, 2022,...)</I>
                    </div>
                </div>
                <div class="contracts-modal__line-two">
                    <button class="btn btn-primary">Criar</button>
                    <button class="btn btn-secondary close" (click)="closeContractsModal()">Cancelar</button>
                </div>
            </div>
        </div>
    </div>
</div>
