<div class="invoice__container">
    <div class="invoice__title">
        <app-title title="Fatura"></app-title>
    </div>
    <div class="invoice__body">
        <div class="line__one">
            <div class="group-buttons">
                <label class="radio-button">
                    <input type="radio" name="option" value="1">
                    <span>Janeiro</span>
                </label>
                <label class="radio-button">
                    <input type="radio" name="option" value="2">
                    <span>Fevereiro</span>
                </label>
                <label class="radio-button">
                    <input type="radio" name="option" value="3">
                    <span>Março</span>
                </label>
                <button (click)="openInvoiceModal()"><i class="fas fa-plus"></i></button>
            </div>
        </div>
        <div class="line__two">
            <div class="total-invoice__table">
                <div class="change__width" id="center__div">
                    <span>Fatural Total</span>
                </div>
                <table>
                    <thead>
                        <tr>
                            <th>Tipo do Gasto</th>
                            <th>Valor por Gasto</th>
                            <th>Pago</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let spent of spentTypes">
                            <td [style.color]="spent.color">{{ spent.description }}</td>
                            <td>{{ spent.value }}</td>
                            <td>{{ spent.paid }}</td>
                        </tr>
                        <tr>
                            <td class="change-td__color">Gasto total</td>
                            <td>{{ totalValueSpent }}</td>
                            <td>Não</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="line__three">
            <div class="monthly-expense__table">
                <div class="change__width">
                    <button class="button-plus__scale" (click)="openExpensesModal()"><i class="fas fa-plus"></i></button>
                    <span>Gastos Mensais</span>
                    <button class="button-down__scale" (click)="toggleExpenseTable()" *ngIf="isExpenseCollapsed"><i class="fas fa-caret-down caret-down__size"></i></button>
                    <button class="button-down__scale" (click)="toggleExpenseTable()" *ngIf="!isExpenseCollapsed"><i class="fas fa-caret-up caret-down__size"></i></button>
                </div>
                <table>
                    <thead *ngIf="!isExpenseCollapsed">
                        <tr>
                            <th>Descrição</th>
                            <th>Valor</th>
                            <th>Parcela</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let i of items">
                            <td *ngIf="!isExpenseCollapsed">{{ i.description }}</td>
                            <td *ngIf="!isExpenseCollapsed">{{ i.itemValue }}</td>
                            <td *ngIf="!isExpenseCollapsed">{{ i.installment }}</td>
                        </tr>
                        <tr>
                            <td class="change-td__color">Total</td>
                            <td>{{ totalValueExpenses }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="monthly-contracts__table">
                <div class="change__width">
                    <button class="button-plus__scale" (click)="openContractsModal()"><i class="fas fa-plus"></i></button>
                    <span>Contratos</span>
                    <button class="button-down__scale" (click)="toggleContractsTable()" *ngIf="isContractsCollapsed"><i class="fas fa-caret-down caret-down__size"></i></button>
                    <button class="button-down__scale" (click)="toggleContractsTable()" *ngIf="!isContractsCollapsed"><i class="fas fa-caret-up caret-down__size"></i></button>
                </div>
                <table>
                    <thead *ngIf="!isContractsCollapsed">
                        <tr>
                            <th>Descrição</th>
                            <th>Valor</th>
                            <th>Fim Contrato</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngIf="!isContractsCollapsed">
                            <td>Spotfy</td>
                            <td>R$ 21,90</td>
                            <td>20/10/2023</td>
                        </tr>
                        <tr *ngIf="!isContractsCollapsed">
                            <td>Amazon Prime</td>
                            <td>R$ 19,90</td>
                            <td>20/10/2033</td>
                        </tr>
                        <tr *ngIf="!isContractsCollapsed">
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td class="change-td__color">Total</td>
                            <td>R$ 41,80</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="add-invoice__modal" *ngIf="isModalInvoiceVisible">
            <div class="invoice-modal__content">
                <h3>Informe o mês e ano da fatura</h3>
                <div class="invoice-modal__line-one">
                    <div class="invoice-data__input">
                        <label for="">Mês: *</label>
                        <input type="number" name="month" placeholder=" ex: 04">
                    </div>
                    <p>/</p>
                    <div class="invoice-data__input">
                        <label for="">Ano: *</label>
                        <input type="number" name="year" placeholder=" ex: 2023">
                    </div>
                </div>
                <div class="invoice-modal__line-two">
                    <button class="btn btn-primary">Criar</button>
                    <button class="btn btn-secondary close" (click)="closeInvoiceModal()">Cancelar</button>
                </div>
            </div>
        </div>
        <div class="add-expenses__modal" *ngIf="isModalExpensesVisible">
            <div class="expenses-modal__content">
                <h3>Adicione novo item</h3>
                <div class="expenses-modal__line-one">
                    <div class="expenses-data__input">
                        <label for="">Descrição: *</label>
                        <input type="text" name="description" placeholder=" ex: Calculadora">
                    </div>
                    <div class="expenses-data__input">
                        <label for="">Valor: *</label>
                        <input type="text" name="value" placeholder=" ex: R$ 50,00">
                    </div>
                </div>
                <div class="expenses-modal__line-two">
                    <div class="expenses-data__input">
                        <label for="">Parcela: *</label>
                        <input type="number" name="installment" placeholder=" ex: 4">
                    </div>
                    <div class="expenses-data__input">
                        <label for="dropdown">Tipo de Gasto: *</label>
                        <select id="dropdown" (change)="onSelectType($event)">
                            <option *ngFor="let item of spentItems" [value]="item">{{ item }}</option>
                        </select>
                    </div>
                </div>
                <div class="expenses-modal__line-three">
                    <button class="btn btn-primary">Criar</button>
                    <button class="btn btn-secondary close" (click)="closeExpensesModal()">Cancelar</button>
                </div>
            </div>
        </div>
        <div class="add-contracts__modal" *ngIf="isModalContractsVisible">
            <div class="contracts-modal__content">
                <h3>Adicione novo contrato</h3>
                <div class="contracts-modal__line-one">
                    <div class="contracts-data__input">
                        <label for="">Descrição: *</label>
                        <input type="text" name="description" placeholder=" ex: Spotfy">
                    </div>
                    <div class="contracts-data__input">
                        <label for="">Valor: *</label>
                        <input type="text" name="value" placeholder=" ex: R$ 24,90">
                    </div>
                </div>
                <div class="contracts-modal__line-two">
                    <div class="expenses-data__input">
                        <label for="">Fim Contrato: *</label>
                        <input type="date" name="installment">
                    </div>
                    <div class="expenses-data__input">
                        <label for="dropdown">Tipo de Gasto: *</label>
                        <select id="dropdown" (change)="onSelectType($event)">
                            <option *ngFor="let item of spentItems" [value]="item">{{ item }}</option>
                        </select>
                    </div>
                </div>
                <div class="contracts-modal__line-three">
                    <button class="btn btn-primary">Criar</button>
                    <button class="btn btn-secondary close" (click)="closeContractsModal()">Cancelar</button>
                </div>
            </div>
        </div>
    </div>
</div>
