<div class="invoice__container">
    <div class="invoice__title">
        <app-title title="Fatura"></app-title>
    </div>
    <div class="invoice__body">
        <div class="line__one">
            <div class="group-buttons">
                <label class="radio-button">
                    <input type="radio" name="option" value="1">
                    <span>Janeiro</span>
                </label>

                <label class="radio-button">
                    <input type="radio" name="option" value="2">
                    <span>Fevereiro</span>
                </label>

                <label class="radio-button">
                    <input type="radio" name="option" value="3">
                    <span>Março</span>
                </label>
                <button><i class="fas fa-plus"></i></button>
            </div>
        </div>
        <div class="line__two">
            <div class="total-invoice__table">
                <div id="change__width">
                    <span>Fatural Total</span>
                </div>
                <table>
                    <thead>
                        <tr>
                            <th>Tipo do Gasto</th>
                            <th>Valor por Gasto</th>
                            <th>Pago</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Santander</td>
                            <td>R$ 150,00</td>
                            <td>Não</td>
                        </tr>
                        <tr>
                            <td>Inter</td>
                            <td>R$ 150,00</td>
                            <td>Não</td>
                        </tr>
                        <tr>
                            <td>Bradesco</td>
                            <td>R$ 150,00</td>
                            <td>Não</td>
                        </tr>
                        <tr>
                            <td class="change-td__color">Gasto total</td>
                            <td>R$ 450,00</td>
                            <td>Não</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="line__three">
            <div class="monthly-expense__table">
                <table>
                    <thead>
                        <tr>
                            <th>Gastos Mensais</th>
                        </tr>
                        <tr>
                            <th>Descrição</th>
                            <th>Parcela</th>
                            <th>Valor</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Televisão</td>
                            <td>1/10</td>
                            <td>R$ 218,00</td>
                        </tr>
                        <tr>
                            <td>Sofá</td>
                            <td>1/5</td>
                            <td>R$ 300,00</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="monthly-contracts__table">
                <table>
                    <thead>
                        <tr>
                            <th>Contratos</th>
                        </tr>
                        <tr>
                            <th>Descrição</th>
                            <th>Parcela</th>
                            <th>Valor</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Spotfy</td>
                            <td>20/10/2023</td>
                            <td>R$ 21,90</td>
                        </tr>
                        <tr>
                            <td>Amazon Prime</td>
                            <td>20/10/2033</td>
                            <td>R$ 19,90</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
