@import 'ngx-toastr/toastr';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: outfit;
    src: url("../src/assets/fonts/Outfit-VariableFont_wght.ttf");
}

body {
    font-family: outfit;
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient(to bottom, #92d398, #74bd7a, #6cbd74, #4ea756, #379741);
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

button:active {
    transform: scale(0.95);
}
