<div class="sidebar__container">
    <nav class="sidebar" [ngClass]="{'collapsed': isCollapsed}">
        <div class="sidebar__notCollapsed" *ngIf="!isCollapsed">
            <div class="account__img">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSwGsNv23K5shKblMsKePA8o6M2kqBH39PZqA&s" alt="">
            </div>
            <p>Filipe</p>
            <div class="vertical-line"></div>
            <button (click)="toggleSidebar()"><i class="fas fa-caret-left"></i></button>
        </div>
        <div class="sidebar__isCollapsed" *ngIf="isCollapsed">
            <div class="account__img">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSwGsNv23K5shKblMsKePA8o6M2kqBH39PZqA&s" alt="">
            </div>
            <button (click)="toggleSidebar()"><i class="fas fa-caret-right"></i></button>
        </div>
        <div class="sidebar__links__notCollapsed" *ngIf="!isCollapsed">
            <h3>MENU</h3>
            <hr>
            <ul>
                <li>
                    <button routerLink="/home/profile">
                        <img src="../../../assets/images/profile_icone.png" alt="profile_icone">
                    </button>
                    <a routerLink="/home/profile">Perfil</a>
                </li>
                <li>
                    <button routerLink="/home/graphic">
                        <img src="../../../assets/images/graphic_icone.png" alt="graphic_icone">
                    </button>
                    <a routerLink="/home/graphic">Gráfico</a>
                </li>
                <li>
                    <button routerLink="/home/invoice">
                        <img src="../../../assets/images/invoice_icone.png" alt="invoice_icone">
                    </button>
                    <a routerLink="/home/invoice">Faturas</a>
                </li>
                <li>
                    <button routerLink="/home/spent">
                        <img src="../../../assets/images/expense_type_icone.png" alt="expense_type_icone">
                    </button>
                    <a routerLink="/home/spent">Tipos de Gasto</a>
                </li>
                <li>
                    <button (click)="logout()">
                        <img src="../../../assets/images/exit_icone.png" alt="exit_icone">
                    </button>
                    <a routerLink="/login" (click)="logout()">Sair</a>
                </li>
            </ul>
        </div>
        <div class="sidebar__links__isCollapsed" *ngIf="isCollapsed">
            <ul>
                <li>
                    <button mat-raised-button matTooltip="Perfil" matTooltipPosition="right" routerLink="/home/profile">
                        <img src="../../../assets/images/profile_icone.png" alt="profile_icone">
                    </button>
                </li>
                <li>
                    <button mat-raised-button matTooltip="Gráfico" matTooltipPosition="right" routerLink="/home/graphic">
                        <img src="../../../assets/images/graphic_icone.png" alt="graphic_icone">
                    </button>
                </li>
                <li>
                    <button mat-raised-button matTooltip="Faturas" matTooltipPosition="right" routerLink="/home/invoice">
                        <img src="../../../assets/images/invoice_icone.png" alt="invoice_icone">
                    </button>
                </li>
                <li>
                    <button mat-raised-button matTooltip="Tipos de Gasto" matTooltipPosition="right" routerLink="/home/spent">
                        <img src="../../../assets/images/expense_type_icone.png" alt="expense_type_icone">
                    </button>
                </li>
                <li>
                    <button mat-raised-button matTooltip="Sair" matTooltipPosition="right" (click)="logout()">
                        <img src="../../../assets/images/exit_icone.png" alt="exit_icone">
                    </button>
                </li>
            </ul>
        </div>
    </nav>
</div>
